{% extends "blog/base.html" %}
{% load static %}
{% block title %}About-Page{% endblock title %}
{% block body_content %}

"background: url({% static 'blog/logout background image.jpg' %}) ; 
                    background-size : 100% ; 
                    "
{% endblock body_content %}

{% block content %}
<div class = "container" style = "margin-top : 50px ; ">
  <h3>
  Hello , My name is Om and  I am the creator of this site and I am working on it to make it more good and enhanced . I am currently working on Python , Web Development using Django , and also I love to learn Machine Learning   . 

  <br>
  <br>
  This site is the Mini project of my college 3<sup>rd</sup> Semester , and I wil work on this even more to make it more of an algorithmic blogging site and make the post more attractive . 

  <br>
<br>
  <ul>
    Different update I am working on -> 
    <br>
    <br>
    <l1>Make the post more speceific to some topic .</li> 
      <br>
      <br>
      <ul>
        <li>By Using Images similar to the topic .</li>
        <li><del>By letting the user to control type of the post .</del></li>
      </ul>
    <br>
    <li>Making the Site more algorithmic and showing posts with more likes or on basis of different ways .</li>
    <li><del>Ability to comment on the posts</del></li>
    <li><del> Adding Search functionalities </del></li>
    <li>Adding a chat room for chatting with different users . Just like Instagram</li>
    <li>Adding Images and videos in the blog posts </li>
  </ul>
  <div>Please Follow me on <a href="https://github.com/omkashyap007" target="_blank">GITHUB </a></div>
</h3>
</div>
{% endblock content %}