{% extends "blog/base.html" %}
{% load static %}
{% block title%} Post | {{object.author}} {% endblock title%}
{% block content%}
<style>
.accordion{
  cursor:pointer;
  width:auto;
  transition:0.1s;}
            
            
.active:after{
  content:'\2212';
}
            
.panel{
  background-color:white;
  max-height:0;
  overflow:hidden;
  transition:max-height 0.1s ease-out;
}
</style>   
<div>
  <div class = "mb-1 mr-1 ml-1 mt~-5 p-1" style = "border : 4px solid gray;border-radius:5px;z-index: -100 ;
  color: {{post.text_color }} ; 
  ">
    <div class="row flex-nowrap justify-content-between align-items-center" >
      <div class="nav-scroller py-1 mb-1s">
        <nav class="nav d-flex justify-content-between">
          <li>
          <img src = "{{post.author.profile.image.url}}" 
                    class = "rounded-circle article-img" 
                    style = "height:60px;width:60px;border-radius:50%;
                    border: 4px solid white">
        
        <a href = "{% url 'profile-user' username=post.author %}"
        style = "font-weight : 400 ;  text-decoration : none ;
          margin-left : 10px ;"><b>{{post.author.username}}</b></a>
          {% if object.author == user%}
          <a  href = "{% url 'post-update' object.id %}">
              <button type="button" class="btn btn-primary ml-2">Update</button>
          </a>
          <a href = "{% url 'post-delete' object.id %}">
              <button type="button" class="btn btn-danger ml-2">
                  Delete
              </button>
          </a>
              {% endif %}
          </li>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <small class = "text-muted mr-2" >{{post.date_posted}} </small>
            </div>
        </nav>
    </div>
  </div>
  <hr>
    <div class="col p-1 d-flex flex-column position-static" >
      <h2 class="mb-0" style = "color: {{post.title_text_color}}">{{post.title}}</h2>
      <hr>

      <p class="card-text mb-auto mt-2">
        <h5>
          {% autoescape on %}
          <div style = "color: {{post.content_text_color}}">{{post.content|linebreaks}}</div>
          {% endautoescape %}
        </h5>
      </p>
      <div style ="display: flex ; justify-content: left ; " >
        {% if hashtag_set %}
        {% for hashtag in hashtag_set %}
        <a href= "{% url 'post-hashtag' hashtag=hashtag.title %}" style = "text-decoration: none ; ">
          #{{hashtag.title}}<span>&nbsp;&nbsp;</span>
        {% endfor  %}
        {% endif %}
      </a>
      </div>
    </div>
    <hr>

      <div style = "display : flex ; padding : 3px ; ">

            <div class = "">
                <div style = "display : flex ; flex-flow : row wrap ; justify-content : left ;
                align-items : center;  ">
                    <form action = "{% url 'post-like' post.id %}" 
                    method = "post"  style = "display : inline ">
                      {% csrf_token %}
                      <input type ="submit" value = "Like 💕" class = "btn btn-outline-info "
                      style = "display : inline ; "> 
                    </form> 
                    <div style = "margin-left : 5px; "> {{post.likes}}</div>
                </div>
            </div>

        <div style = "margin-left : 20px ; float:right ;  ">
            <div style = "display : inline ; float : right ; " > 
              <div style = "display : inline ; ">
                <form action = "{% url 'post-comment' pk=post.id %}"
                 method = "post" > 
                  {% csrf_token %}
                  <div style = "display: flex ; justify-content : center" >
                  <input type = "text"  name = "comment" class = "form-control" style = "display: inline ; border : 3px solid gray ; border-radius : 0px ;  " placeholder = "Comment your view here !" autocomplete = off> 
                  <input type = "submit" value = "Comment" class = "btn btn-primary" style = "display: inline ; border-radius : 0px; ">
                  </div>
                </form>
              </div>
            </div>
         </div>

         <div>
          <input type="hidden" value="{{request.build_absolute_uri}}" id = "copy__link__input"/>
          <button onclick="copyText()" style = "margin-left : 10px ; " class = "btn btn-primary">Copy Post Url</button>

          
        </div>

        <script>
          function copyText(){
            //We start by getting a reference to the input element
            //let myInput = document.getElementById("copy__link__input");
            
            //Use the clipboard's writeText method to pass the inputs text to the clipboard
            navigator.clipboard.writeText(document.getElementById("copy__link__input").value);
            alert("The link was successfully copied !");
            
        }
        </script>
      </div>
      <hr>
        <div style = " padding : 5px; margin : 2px ; " >
          {% if comments %}
          <div style = "margin-left : 10px; color: black ;height : 50px ; width : 200px;  " class = "accordion" ><big class = "btn btn-primary"><u>COMMENTS !</u></big></div>
          <div class = "panel" >
            {% for comment in comments %}
              <div style ="border: 1px solid gray ; 
                border-left : none ; border-right : none ; border-top : none ;
                margin-top : 10px; padding : 5px ; 
                padding-bottom : 10px ;
                 "> 
                <a href = "{% url 'profile-user' username=comment.writer %}"
                style = "text-decoration : none ; ">
                  <img src = "{{comment.writer.profile.image.url}}" style = "border-radius : 50% ; 
                  height : 30px ; width : 30px ; ">
                  <span style = "text-decoration : none ; "><b>{{comment.writer.username}}</b></span>
                </a>
                <div class = "comment" style = "margin-left  : 10px ; display : inline ; padding : 5px; align-items: left ;  color : black ; font-family : cambria ; font-size : large; font-weight : 500;  "> 
                  {{comment.comment}}
                </div>
                {% if request.user == comment.writer %}
                <div class = "delete_comment" style = "float: right ; margin-right : 10px ;">
                  <a href ="{% url 'post-delete-comment' pk=comment.id post_pk=post.id%} ">
                  <button class ="btn btn-outline-danger" style = "align-items : center ;margin-top : -8px ;"> Delete</button> 
                  </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
  </div>
</div>
<script>

  var acc=document.getElementsByClassName("accordion");
  
  var i;
  
  for(i=0;i<acc.length;i++)
  
  {acc[i].addEventListener("click",function()
  
    {this.classList.toggle("active");
    var panel=this.nextElementSibling;
    if(panel.style.maxHeight){
      panel.style.maxHeight=null;}
      

      else{panel.style.maxHeight=panel.scrollHeight+"100px";
      }
    })
  }; 
  </script>


</style>




{% endblock content%}

# hai this is me and I am om and I am creating a push to my git repository from here . 