{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block background_image %}
{% static 'blog/skeleton_doing_dab.jpg'  %}
{% endblock background_image%}

{% block content %}

<div class = "content-section mt-3 ml-1 pl-3 mr-1 pr-3" style = "border: 1px solid gray;
   border-radius : 10px ; background-color: none;">
  <form method = "POST" > 
    {% csrf_token %}
    <fieldset class = "form-group" > 
      <legend  class = "border-bottom mb-4" >Register Here</legend>
      {{form|crispy}}
      <div>
         <li>The password must contain capital letters</li>
         <li>The password must contain lower letters</li>
         <li>The password have numeric value in it</li>
         <li>The password must have speacial characeters</li>
         <li>The password should not be similar to the Username</li>
       </div>
    </fieldset>
    <div class = "form-group" >
      <button class = "btn btn-outline-info " type = "submit"> Create Account</button>
    </div> 
    </form>
    <div class = "border-top pt-3" >
      <big class  =" mb-2 ml-2 pl-2 pb-2  text-muted " >Already have an account |
      <a href = "{% url 'login-user' %}" class = "mb-2 pb-2" style = "text-decoration:none">Click here </a></big>
    </div>
</div>

{% endblock content %}
